.app-download{
    margin:auto;
    margin-top:100px;
    font-size:max(3vw,20px);
    text-align:center;
    font-weight:700;
}

.app-download-plateforms{
    display: flex;
    justify-self:center;
    gap:max(2vw,10px);
    margin-top:40px;
}

.app-download-plateforms img{
    width:max(30vw,120px);
    max-width:188px;
    transition:0.5s;
    cursor:pointer;
}

.app-download-plateforms img:hover{
    transform:scale(1.05);
}