.explore-menu{
    display:flex;
    flex-direction: column;
    gap:20px;

}

.explore-menu h1{
    color:rgb(64, 62, 62);
    font-weight:1000;
}

.explore-menu-text{
    max-width:60%;
    
}

.explore-menu-list{
    display:flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    margin:20px 0;
    gap:30px;
    overflow-x:scroll;
    

}

.explore-menu-list::-webkit-scrollbar{
    display: none;
}

.explore-menu-list-item{
    width:7.5vw;
    min-width:80px;
    cursor: pointer;
    border-radius:50%;
    transition:0.2s;
}

.explore-menu-list-item:hover{
    transform: scale(1.1);
}

.explore-menu-list-item p{
    margin-top:10px;
    color:rgb(64, 62, 62);
    font-size:max(1.4vw,16px);
    cursor: pointer;
}

hr{
    background-color:rgb(182, 167, 167);
    height:2px;
    margin:10px 10px;
    border:none;
}


.explore-menu-list-item .active{
    border:4px solid tomato;
    border-radius:50%;
    padding:2px;

}