@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Roboto:ital,wght@0,100..900;1,100..900&family=Stack+Sans+Text:wght@200..700&display=swap');

*{
  padding:0;
  margin:4px;
  box-sizing:border-box;
  scroll-behavior: smooth;
}

body{
  min-height:100vh;

}

a{
  text-decoration:none;
  color:inherit;
}

@keyframes fadeIn{
  0%{
    opacity:0;
  }
  100%{
    opacity:1;
  }
}

